#main{
    background-image:url("./maxresdefault.jpg");
    background-repeat: no-repeat;

    width: 800px;
    height: 900px;
    z-index: 1;
}
.main2{
    background-image:url("./product-image-479341902_87ff2d7f-bbaf-4bf2-bc01-a5a8ff3abfb9_800x.jpg");
    background-repeat: no-repeat;

    width: 800px;
    height: 900px;
    z-index: 1;
}
.main3{
    background-image:url("./image.jpg");
    background-repeat: no-repeat;

    width: 800px;
    height: 900px;
    z-index: 1;
}
#dark{
    opacity: 0.8;
    background-color: black;

    width: 800px;
    height: 720px;
    position: relative;

}
#text{
    z-index: 3;
    position: absolute;

    top:320px;
    left: 50px;
    color: white;
    text-align: center;
}
#red{
    position: absolute;
    top: -180px;
    left:15px;
   padding: 10px 0 10px 30px;
    color: red;
    background-color: white;
    text-align: right;
}
.spn {
    position: absolute;
    top: -170px;
    left:85px;
}

#lorem{
    z-index: 3;
    position: absolute;
    top:205px;
    left: 95px;
    color: white;
    width: 240px;
    font-size: 18px;
}
#left{
    z-index: 3;
    position: absolute;
    top: 355px;
    left: 45px;
    width: 50px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 45px;
    text-decoration: none;
}
#right{
    
    z-index: 3;
    position: absolute;
    top: 355px;
    right: 50px;
    width: 45px;
    background-color: white;
    
    color: black;
    font-size: 45px;
    text-decoration: none;
    text-align: center;
}
#sport{
 
    position: absolute;
    bottom: 50px;
    width:110px;
    height: 55px;
    left: 43%;
    color: white;
    background-color: orangered;
}



