* {
    box-sizing: border-box;
}

.boxsize {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    
    display: inline-block;
    width: 400px;
    height: 400px;
}
.imagesize {
    height: 300px;
    width: 399px;
}

.footer {
    padding-left: 50px;

}
.link {
    color: grey;
    text-decoration: none;
    
}