*{
    box-sizing: border-box;
}

#main{
    width: 960px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}
.first{
    display: flex;
    justify-content: space-between;

}
.first_1 {
    height: 220px;
     background-color: darkviolet;
     flex-basis: 22.7%;
 }
.first_2 {
    height: 220px;
    background-color: darkviolet;
    flex-basis: 22.7%;
}
.first_3 {
    height: 220px;
    background-color: darkviolet;
    flex-basis: 22.7%;
}
.first_4 {
    height: 220px;
    background-color: darkviolet;
    flex-basis: 22.7%;
}
.second {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.insecond{
    height: 100px;
    background-color: darkviolet;
    flex-basis: 10%;
}
.third {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.third_1{
    height: 220px;
    background-color: darkviolet;
    flex-grow: 2.9;
}
.third_2{
    height: 220px;
    background-color: darkviolet;
    flex-grow: 0.9;
    margin-left: 26px;
}
.for {
    display: flex;
    margin-top: 30px;
}
.for_1{

    height: 220px;
    background-color: darkviolet;
    flex-grow: 0.9;
    margin-right:26px;
}
.for_2{
    height: 220px;
    background-color: darkviolet;
    flex-grow: 2.9;
}
.five{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.five_1{
    height: 220px;
    background-color: darkviolet;
    flex-basis: 48.5%;

}
.five_2{
    height: 220px;
    background-color: darkviolet;
    flex-basis: 48.5%;
}






